<div class="crd row justify-content-center">
    <div class="col-md-2">
        <ng-container *ngIf="empleado.aniosExperiencia % 2 === 0; else elseTemplate">
            <img class="im card-img-top" src="https://png.icons8.com/color/1600/administrator-male.png" alt="Card {{empleado.nombreEmpleado}}}">
        </ng-container>
        <ng-template #elseTemplate>
            <img class="im card-img-top" src="https://png2.kisspng.com/20180402/yie/kisspng-computer-icons-female-user-profile-avatar-material-5ac1fa22a5a567.4501855215226619226785.png" alt="Card {{empleado.nombreEmpleado}}}">
        </ng-template>
    </div>
    <div class="col-md-10">
        <span class="figure-caption"><h2>Sobre este Empleado:</h2></span>
        <h3 class="card-title">{{empleado.nombreEmpleado}}</h3>
        <dl>
            <dt>Nombre de Usuario:</dt>
            <dd>{{empleado.nombreUsuario}}</dd>
            <dt>Correo Electrónico:</dt>
            <dd>{{empleado.correoElectronico}}</dd>
            <dt>Años de experiencia:</dt>
            <dd>{{empleado.aniosExperiencia}}</dd>
            <dt>Tipo de Empleado:</dt>
            <ng-container *ngIf="empleado.tipoEmpleado === 'CORRECTOR'">
            <dd>Corrector</dd>
            </ng-container>
            <ng-container *ngIf="empleado.tipoEmpleado === 'TRADUCTOR'; else elseTemplate">
            <dd>Traductor</dd>
            </ng-container>
            <ng-template #elseTemplate>
            <dd>Traductor y Corrector</dd>
            </ng-template>
            <dt>Trayectoria:</dt>
            <dd>{{empleado.trayectoria}}</dd>
            <dt>Estudios:</dt>
            <dd>{{empleado.estudios}}</dd>
            <dt>Algunas referencias:</dt>
            <dd>{{empleado.referencias}}</dd>
        </dl>
        <div class="row">
        <div *ngIf="empleado.propuestas != undefined && empleado.propuestas.length > 0" class="col-md-2">
            <button type="button" class="btn" [ngClass]="{ 'btn-primary': propuestaListComponent.isCollapsed,'btn-outline-primary':!propuestaListComponent.isCollapsed}" (click)="togglePropuestas()">
                Propuestas Enviadas
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn" [ngClass]="{ 'btn-primary': propuestaCreateComponent.isCollapsed,'btn-outline-primary':!propuestaCreateComponent.isCollapsed}"  (click)="toggleCreatePropuesta()">
                Agregar Propuesta
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn" [ngClass]="{ 'btn-primary': mostrarCalificacion,'btn-outline-primary':!mostrarCalificacion}"
                (click)="toggleCalificaciones()">
                Calificaciones
            </button>
        </div>
        </div>
    </div> 
   
</div>
<div  class="crd row justify-content-center" >
    <app-empleado-propuestas [propuestasEmpleado]="empleado.propuestas"></app-empleado-propuestas>
    <app-propuesta-create [empleado]="empleado" (updatePropuestas)="updatePropuestas()"></app-propuesta-create>   
</div>
<div *ngIf="mostrarCalificacion" class="crd row justify-content-center">
    <list-calificacion [empleadoId]="empleado_id"></list-calificacion>
</div>