<div class="crd row justify-content-center">
    <div class="col-md-2">
        <ng-container *ngIf="empleado.aniosExperiencia % 2 === 0; else elseTemplate">
            <img class="im card-img-top" src="../../../assets/img/male.png" alt="Card {{empleado.nombreEmpleado}}}">
        </ng-container>
        <ng-template #elseTemplate>
            <img class="im card-img-top" src="../../../assets/img/female.png" alt="Card {{empleado.nombreEmpleado}}}">
        </ng-template>
    </div>
    <div class="col-md-10">
        <span class="figure-caption">
            <h2>Sobre este Empleado:</h2>
        </span>
        <h3 class="card-title">{{empleado.nombreEmpleado}}</h3>
        <dl>
            <dt>Nombre de Usuario:</dt>
            <dd>{{empleado.nombreUsuario}}</dd>
            <dt>Correo Electrónico:</dt>
            <dd>{{empleado.correoElectronico}}</dd>
            <dt>Años de experiencia:</dt>
            <dd>{{empleado.aniosExperiencia}}</dd>
            <dt>Tipo de Empleado:</dt>
            <ng-container *ngIf="empleado.tipoEmpleado === 'CORRECTOR'">
                <dd>Corrector</dd>
            </ng-container>
            <ng-container *ngIf="empleado.tipoEmpleado === 'TRADUCTOR'">
            <dd>Traductor</dd>
            </ng-container>
            <ng-container *ngIf="empleado.tipoEmpleado === 'CORRECTOR_TRADUCTOR'">
            <dd>Traductor y Corrector</dd>
            </ng-container>
            <dt>Trayectoria:</dt>
            <dd>{{empleado.trayectoria}}</dd>
            <dt>Estudios:</dt>
            <dd>{{empleado.estudios}}</dd>
            <dt>Algunas referencias:</dt>
            <dd>{{empleado.referencias}}</dd>
        </dl>
        <div class="row">
            <div class="col-md-2 latera">
                <button type="button" *ngxPermissionsOnly="['ADMIN']" class="btn btn-primary" (click)="toggleEditarEmpleado()">
                    Editar perfil
                </button>
            </div>
            <div class="col-md-2 lateral">
                <button type="button" *ngxPermissionsOnly="['ADMIN']" class="btn btn-primary" (click)="eliminarEmpleado()">
                    Eliminar este empleado
                </button>
            </div>

            <div class="col-md-3 lateral">
                <div *ngIf="empleado.propuestas != undefined && empleado.propuestas.length > 0" class="col-md-2">
                    <button type="button" *ngxPermissionsOnly="['ADMIN']" class="btn" [ngClass]="{ 'btn-primary': propuestaListComponent.isCollapsed,'btn-outline-primary':!propuestaListComponent.isCollapsed}"
                        (click)="togglePropuestas()">
                        Propuestas Enviadas
                    </button>
                </div>
            </div>
            <div class="col-md-4 lateral">
                <button type="button" class="btn" [ngClass]="{ 'btn-primary': mostrarCalificacion,'btn-outline-primary':!mostrarCalificacion}"
                    (click)="toggleCalificaciones()">
                    Calificaciones
                </button>
            </div>
            <div class="col-md-5 lateral">
                <button type="button" *ngxPermissionsOnly="['ADMIN']" class="btn" [ngClass]="{ 'btn-primary': mostrarInvitacion,'btn-outline-primary':!mostrarInvitacion}"
                    (click)="toggleInvitaciones()">
                    Invitaciones
                </button>
            </div>
        </div>
    </div>
</div>
<app-empleado-propuestas class="crd row justify-content-center" [idEmpleado]="empleado.id" [propuestasEmpleado]="empleado.propuestas"></app-empleado-propuestas>
<list-calificacion *ngIf="mostrarCalificacion" class="crd row justify-content-center" [empleadoId]="empleado_id"></list-calificacion>
<app-empleado-invitaciones *ngIf="mostrarInvitacion" class="crd row justify-content-center" [empleado]="empleado" [empleadoId]="empleado_id"></app-empleado-invitaciones>
<app-empleado-edit class="crd row justify-content-center" [idEmpleado]="empleado_id"></app-empleado-edit>

