.encabezado, th {
    background: #4ab8a1;
    color: white    
}

.iconoEditar {    
    background-color: #C5D86D;
    border-color: transparent;
}

.iconoEliminar {    
    background-color: #ED254E;
    border-color: transparent;
}

.container{
    width: 100%;
    padding: 2vh;
    margin: 0 auto;
}