<section id="principal" class="principal">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 text order-2 order-md-1">
        <h1>Llevando tus ideas al idioma que necesitas!</h1>
        <p class="texto-principal">Traducciones y correcciones de documentos de alta calidad a bajos precios con satisfacción completamente garantizada</p>
        <div class="CTA d-flex justify-content-end"><a href="" class="btn btn-outline-primario">Comienza Ahora</a></div>
      </div>
      <div class="col-md-6 order-1 order-md-2"><img src="../assets/img/document.png" alt="..." class="img-fluid doc"></div>
    </div>
  </div>
</section>
