<div class="all container" *ngxPermissionsOnly="['CLIENTE']">
  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
      <span class="figure-caption">Mi Perfil</span>
      <img class="img-fluid" src="../../../assets/img/avatar.png" alt="imagen {{this.authService.getUser().nombre}}}">
      <h3 class="text-center">{{this.authService.getUser().nombre}}</h3>
      <dl>
        <dt>Nombre de Usuario:</dt>
        <dd *ngIf="this.authService.getUser().nombreUsuario != undefined">{{this.authService.getUser().nombreUsuario}}</dd>
        <dt>Correo Electrónico:</dt>
        <dd *ngIf="this.authService.getUser().correoElectronico != undefined">{{this.authService.getUser().correoElectronico}}</dd>
        <dt>Identificación:</dt>
        <dd *ngIf="this.authService.getUser().identificacion != undefined">{{this.authService.getUser().identificacion}}</dd>
        <dt>Tipo de Cliente:</dt>
        <div *ngIf="this.authService.getUser().tipoCliente != undefined">
          <dd *ngIf="this.authService.getUser().tipoCliente === 'EMPRESA'">Empresa</dd>
          <dd *ngIf="this.authService.getUser().tipoCliente === 'PERSONA_NATURAL'">Persona Natural</dd>
        </div>
      </dl>
      <br>
      <a routerLink="/clientes/{{this.authService.getUser().id}}/edit" class="but but-secundario">
        <span class="fas fa-user-edit"></span> Editar
      </a>
    </div>
    <div class="col-md-8">
      <div class="row">
        <ul class="nav">
          <li>
            <a class="nav-link" [ngClass]="{ 'btn-primario': tarjetaListComponent.isCollapsed,'btn-outline-primario':!tarjetaListComponent.isCollapsed}"
              (click)="toggleTarjetas()">
              Mis tarjetas
            </a>
          </li>
          <li>
            <a class="nav-link" [ngClass]="{ 'btn-primario': pagosListComponent.isCollapsed,'btn-outline-primario':!pagosListComponent.isCollapsed}"
              (click)="togglePagos()">
              Mis pagos
            </a>
          </li>
          <li>
            <a class="nav-link" [ngClass]="{ 'btn-primario': propuestaListComponent.isCollapsed,'btn-outline-primario':!propuestaListComponent.isCollapsed}"
              (click)="togglePropuestas()">
              Mis Propuestas
            </a>
          </li>
          <li>
            <a class="nav-link" [ngClass]="{ 'btn-primario': !mostrarInvitacion,'btn-outline-primario': mostrarInvitacion}"
              (click)="toggleInvitaciones()">
              Mis Invitaciones
            </a>
          </li>
          <li class="dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="drop-adds" ngbDropdownToggle>
              <span class="fas fa-plus-circle"></span>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="drop-adds">
              <a [ngClass]="{ 'btn-primario': tarjetaAddComponent.isCollapsed,'btn-outline-primario':!tarjetaAddComponent.isCollapsed}"
                (click)="toggleCreateTarjeta()">
                Agregar tarjeta
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="row justify-content-center align-items-center">
        <div *ngIf="mostrarInvitacion">
          <app-cliente-invitaciones [clienteId]="this.authService.getUser()?.id"></app-cliente-invitaciones>
        </div>
        <app-cliente-tarjetas [tarjetasCliente]="this.authService.getUser()?.tarjetas" [idCliente]="this.authService.getUser()?.id"></app-cliente-tarjetas>
        <app-cliente-add-tarjeta-de-credito [cliente]="this.authService.getUser()" (updateTarjetas)="updateTarjetas()"></app-cliente-add-tarjeta-de-credito>
        <app-cliente-pagos [pagosCliente]="this.authService.getUser()?.pagos"></app-cliente-pagos>
        <app-cliente-propuestas [propuestasCliente]="this.authService.getUser()?.propuestas"></app-cliente-propuestas>
      </div>
    </div>
  </div>
</div>
<div class="all container" *ngxPermissionsOnly="['EMPLEADO']">

</div>