<div class="row d-flex align-items-center justify-content-center">
    <div class="col-4 crd">
        <h2 class="text-center">Ingreso</h2>
        <form name="login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="username"><b>Nombre de Usuario</b></label>
                <input type="text" name="username" class="form-control" id="username" [(ngModel)]="usuario.nombreUsuario"
                    required>
            </div>
            <div class="form-group">
                <label for="password"><b>Contraseña</b></label>
                <input type="password" minlength="6" name="password" class="form-control" id="password" [(ngModel)]="usuario.contrasenia"
                    required>
            </div>
            <div class="form-group">
                <label for="rol"><b>Rol</b></label>
                <div class="d-flex justify-content-around">
                    <label class="radio-inline" *ngFor="let rol of roles">
                        <div style="cursor: pointer;">
                            <input type="radio" style="cursor: pointer;" name="rol" [value]="rol" [(ngModel)]="usuario.rol" checked> {{rol}}
                        </div>
                    </label>
                </div>
                <!-- <select class="custom-select" name="rol" id="rol" [(ngModel)]="user.rol" required>
                  <option [value]="rol" *ngFor="let rol of roles">{{rol}}</option>
              </select> -->
            </div>
            <div class="d-flex justify-content-center align-self-center">
                <button type="submit" class="but btn-primario">Ingresar</button>
            </div>
        </form>
    </div>
</div>