<div class="container-fluid" *ngxPermissionsOnly="['ADMIN']">
<div class="crd row justify-content-center">
    <div class="col-md-2">
        <ng-container *ngIf="cliente.tipoCliente === 'EMPRESA'; else elseBlock">
            <img class="card-img-top" src="../../../assets/img/company.png" alt="Card {{cliente.nombre}}}">
        </ng-container>
        <ng-template #elseBlock>
            <img class="card-img-top" src="../../../assets/img/client.png" alt="Card {{cliente.nombre}}}">
        </ng-template>
    </div>
    <div class="col-md-10">
        <span class="figure-caption">Sobre este Cliente...</span>
        <h3 class="card-title">{{cliente.nombre}}</h3>
        <dl>
            <dt>Nombre de Usuario:</dt>
            <dd>{{cliente.nombreUsuario}}</dd>
            <dt>Correo Electrónico:</dt>
            <dd>{{cliente.correoElectronico}}</dd>
            <dt>Identificación:</dt>
            <dd>{{cliente.identificacion}}</dd>
            <dt>Tipo de Cliente:</dt>
            <ng-container *ngIf="cliente.tipoCliente === 'EMPRESA'; else elseTemplate">
                <dd>Empresa</dd>
            </ng-container>
            <ng-template #elseTemplate>
                <dd>Persona Natural</dd>
            </ng-template>
        </dl>
        <div class="row">
                <div class="col-md-2 latera">
                    <button type="button" class="btn btn-primary" (click)="toggleEditarCliente()">
                        Editar perfil
                    </button>
                </div>
                <div class="col-md-2 lateral">
                        <button type="button" class="btn btn-primary" (click)="eliminarCliente()">
                            Eliminar este cliente
                        </button>
                    </div>
        </div>
        <div class="row">
            <div *ngIf="cliente.tarjetas != undefined && cliente.tarjetas.length > 0" class="col-md-1">
                <button type="button" class="btn" [ngClass]="{ 'btn-primary': tarjetaListComponent.isCollapsed,'btn-outline-primary':!tarjetaListComponent.isCollapsed}"
                    (click)="toggleTarjetas()">
                    Tarjetas registradas
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn" [ngClass]="{ 'btn-primary': tarjetaAddComponent.isCollapsed,'btn-outline-primary':!tarjetaAddComponent.isCollapsed}"
                    (click)="toggleCreateTarjeta()">
                    Agregar tarjeta
                </button>
            </div>
            <div *ngIf="cliente.pagos != undefined && cliente.pagos.length > 0" class="col-md-3">
                <button type="button" class="btn" [ngClass]="{ 'btn-primary': pagosListComponent.isCollapsed,'btn-outline-primary':!pagosListComponent.isCollapsed}"
                    (click)="togglePagos()">
                    Ver pagos
                </button>
            </div>
            <div *ngIf="cliente.propuestas != undefined && cliente.propuestas.length > 0" class="col-md-4">
                <button type="button" class="btn" [ngClass]="{ 'btn-primary': propuestaListComponent.isCollapsed,'btn-outline-primary':!propuestaListComponent.isCollapsed}"
                    (click)="togglePropuestas()">
                    Propuestas
                </button>
            </div>
            <div class="col-md-5">
                <button type="button" class="btn" [ngClass]="{ 'btn-primary': mostrarInvitacion,'btn-outline-primary':!mostrarInvitacion}"
                    (click)="toggleInvitaciones()">
                    Invitaciones
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="mostrarInvitacion" class="crd row justify-content-center">
    <app-cliente-invitaciones [clienteId]="cliente_id"></app-cliente-invitaciones>
</div>
<div class="crd row justify-content-center">    
    <app-cliente-tarjetas [tarjetasCliente]="cliente?.tarjetas" [idCliente]="cliente?.id"></app-cliente-tarjetas>
    <app-cliente-add-tarjeta-de-credito [cliente]="cliente" (updateTarjetas)="updateTarjetas()"></app-cliente-add-tarjeta-de-credito>
</div>
<br>
<div class="crd row justify-content-center">
    <app-cliente-pagos [pagos]="cliente?.pagos"></app-cliente-pagos>
</div>
<div class="crd row justify-content-center">
    <app-cliente-propuestas [propuestas]="cliente?.propuestas" [idCliente]="cliente?.id"></app-cliente-propuestas>
</div>
<div class="crd row justify-content-center">
        <app-cliente-edit [idCliente]="cliente_id"></app-cliente-edit>
    </div>
</div>