<div class="col-xl">
    <h2 class="text-center">Crear una nueva calificacion</h2>
    <form name="calificacion" (ngSubmit)="f.form.valid && createCalificacion()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="descripcion"><b>Comentario</b></label>
            <input type="text" name="descripcion" class="form-control" id="descripcion" [(ngModel)]="calificacion.comentario"
                #descripcion="ngModel" [ngClass]="{'is-invalid': f.submitted && descripcion.invalid }" required>
            <div class="invalid-feedback">
                <div>Por favor ingrese el comentario de la calificacion</div>
            </div>
        </div>
        <div class="form-group">
            <label for="valor"><b>Calificacion</b></label>
            <input type="number" name="valor" class="form-control" id="valor" [(ngModel)]="calificacion.valorCalificacion"
                #empleado="ngModel" [ngClass]="{'is-invalid': f.submitted && valor.invalid }" required>
            <div class="invalid-feedback">
                <div>Por favor ingrese el valor de la calificacion</div>
            </div>
        </div>
        <div class="form-group">
            <label for="nombre"><b>Nombre del calificador</b></label>
            <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="calificacion.nombreCalificador"
                #descripcion="ngModel" [ngClass]="{'is-invalid': f.submitted && nombre.invalid }" required>
            <div class="invalid-feedback">
                <div>Por favor su nombre</div>
            </div>
        </div>
        <div class="row form-inline justify-content-center align-self-center">
            <button type="submit" class="btn btn-primary">Crear</button>
            <div class="divider"></div>
            <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
        </div>
    </form>
</div>