<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Registro</h2>
        <br>
        <form name="registro" (ngSubmit)="f.form.valid && registro()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="name"><b>Nombre</b></label>
                <input type="text" name="name" class="form-control" id="name" [(ngModel)]="usuario.nombre" required>
            </div>
            <div class="form-group">
                <label for="username"><b>Nombre de Usuario</b></label>
                <input type="text" name="username" class="form-control" id="username" [(ngModel)]="usuario.nombreDeUsuario"
                    required>
            </div>
            <div class="form-group">
                <label for="email"><b>Correo Electrónico</b></label>
                <input type="email" name="email" class="form-control" id="email" [(ngModel)]="usuario.correoElectronico"
                    required>
            </div>
            <div class="form-group">
                <label for="password"><b>Contraseña</b></label>
                <input type="password" minlength="6" name="password" class="form-control" id="password" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" [(ngModel)]="usuario.contrasenia"
                    required>
                <div class="invalid-feedback">
                    <div>La contraseña debe ser de mínimo 6 caracteres.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="rol"><b>Rol</b></label>
                <div class="d-flex justify-content-around">
                    <label class="radio-inline" *ngFor="let rol of roles">
                        <div style="cursor: pointer;">
                            <input type="radio" style="cursor: pointer;" name="rol" [value]="rol" [(ngModel)]="usuario.rol" checked> {{rol}}
                        </div>
                    </label>
                </div>
                <!-- <select class="custom-select" name="rol" id="rol" [(ngModel)]="user.rol" required>
                  <option [value]="rol" *ngFor="let rol of roles">{{rol}}</option>
              </select> -->
            </div>
            <div class="d-flex justify-content-center align-self-center">
                <button type="submit" class="but btn-primario">Registrarse</button>
            </div>
        </form>
    </div>
</div>