<div class="container-fluid">
    <div class="card-deck justify-content-center">
        <a class="crd card text-center" routerLink="/empleados/{{empleado.id}}" *ngFor = "let empleado of empleados">
            <ng-container *ngIf="empleado.aniosExperiencia % 2 === 0; else elseTemplate">
                <img class="im card-img-top" src="https://png.icons8.com/color/1600/administrator-male.png" alt="Card {{empleado.nombreEmpleado}}}">
            </ng-container>
            <ng-template #elseTemplate>
                <img class="im card-img-top" src="https://png2.kisspng.com/20180402/yie/kisspng-computer-icons-female-user-profile-avatar-material-5ac1fa22a5a567.4501855215226619226785.png" alt="Card {{empleado.nombreEmpleado}}}">
            </ng-template>
            <h5 class="name">{{empleado.nombreEmpleado}}</h5>
        </a>
    </div>

 
      
    <div class="text-center">
        <button type="button" class="btn btn-primary" routerLink="/empleados/add">Crear Nuevo Empleado</button>
    </div>
    
</div>