<div class="col-xl">
    <h2 class="text-center">Crear una invitacion</h2>
    <form name="invitacion" (ngSubmit)="f.form.valid && createInvitacion()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="empleado"><b>Identificador del empleado</b></label>
            <input type="number" name="empleado" class="form-control" id="empleado" [(ngModel)]="invitacion.idEmpleado"
                #empleado="ngModel" [ngClass]="{'is-invalid': f.submitted && empleado.invalid }" required>
            <div class="invalid-feedback">
                <div>Por favor ingrese el identificador del empleado a quien se le enviara la propuesta</div>
            </div>
        </div>
        <div class="form-group">
            <label for="solicitud"><b>Identificador de la solicitud</b></label>
            <input type="number" name="solicitud" class="form-control" id="solicitud" [(ngModel)]="invitacion.solicitudId"
                #solicitud="ngModel" [ngClass]="{'is-invalid': f.submitted && solicitud.invalid }" required>
            <div class="invalid-feedback">
                <div>Por favor ingrese el identificador de la solicitud sobre la cual se asociará la invitación</div>
            </div>
        </div>
        <div class="form-group">
            <label for="descripcion"><b>Descripcion de la invitación</b></label>
            <input type="text" name="descripcion" class="form-control" id="descripcion" [(ngModel)]="invitacion.descripcion"
                #descripcion="ngModel" [ngClass]="{'is-invalid': f.submitted && descripcion.invalid }" required>
            <div class="invalid-feedback">
                <div>Por favor ingrese la descripción de la invitación</div>
            </div>
        </div>
        <div class="row form-inline justify-content-center align-self-center">
            <button type="submit" class="btn btn-primary">Crear</button>
            <div class="divider"></div>
            <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
        </div>
    </form>
</div>