<div class="container-fluid">
  <div class="col-md-5">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>Nombre Cliente</th>
                  <th>Correo Electrónico</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let cliente of clientes">
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.correoElectronico}}</td> 
              </tr>
          </tbody>
      </table>
  </div>
</div>