<div class="app-component">
  <h1>Welcome to {{ title }}!</h1>
  <nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="clientesTag" class="nav-link" routerLink="/clientes/list">Clientes</a>
        </li>
        <li class="nav-item">
            <a id="propuestasTag" class="nav-link" routerLink="/propuestas/list">Propuestas</a>
        </li>
        <li class="nav-item">
          <a id="tarjetasTag" class="nav-link" routerLink="/tarjetasDeCredito/list">Tarjetas de Credito</a>
      </li>
      <li class="nav-item">
        <a id="pagosTag" class="nav-link" routerLink="/pagos/list">Pagos</a>
    </li>
    </ul>
  </nav>
  <div class="list">
    <router-outlet></router-outlet>
  </div>
</div>



