<div id="collapseTarjetas" [ngbCollapse]="isCollapsed">
<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID Propuesta</th> 
					<th>Costo</th>
					<th>Descripcion</th>
					<th>Estado</th>
                    <th>Fecha Estimada Entrega</th>
                    <th>Pagar</th>
                </tr>
            </thead>
            <tbody>                       
                <tr *ngFor = "let p of propuestas">
                  <td style="cursor: pointer;">
						<dd class="figure-caption" routerLink="/propuestas/{{p.id}}">{{p.id}}</dd>						
				  </td>
				  <td>{{p.costo}}</td>
				  <td>{{p.descripcion}}</td>
				  <td>{{p.estado}}</td>
                  <td>{{p.tiempoEstimado}}</td>
                  <td><button _ngcontent-c1="" class="btn btn-primario" (click)="pagar(p.id,p.costo,p.descripcion,p.estado,p.tiempoEstimado)"  type="button" tabindex="0" >Pagar</button></td>
                </tr>
            </tbody>
        </table>
	</div>	
	
	 <div class="text-center">
        <button type="button" class="btn btn-primary" routerLink="/propuestas/add">Crear nueva propuesta</button>
    </div>	
</div>
</div>
