<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>

          <th>Empleado</th>
          <th>Cliente</th>
          <th>Estado</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solciitudActual of solicitudes">

          <td>{{tarjetaActual.empelado}}</td>

          <td>{{tarjetaActual.cliente}}</td>
          
          <td>{{tarjetaActual.estado}}</td>


        </tr>
      </tbody>
    </table>
  </div>
</div>