<div class="container">
    <div class="col-xl">
        <table class="table table-hover">
            <thead style="background: #4ab8a1; color: white;">
                <tr>
                    <th>N°</th>
                    <th>Comentario recibido</th>
                    <th>Calificacion</th>
                    <th></th>
                    <th>Nombre del cliente calificador</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of calificaciones; let j = index">
                    <td class="fas fa-angle-double-down" (click)="onSelected(i.id)" style="cursor: pointer;"></td>
                    <td>{{j+1}}</td>
                    <td>{{i.valorCalificacion}}</td>
                    <td>{{i.nombreCalificador}}</td>
                    <td>
                        <button class="btn btn-danger iconoEliminar" (click)="deleteCalificacion(i.id)"><i class="fas fa-eraser"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display: table; margin: 0 auto;" *ngxPermissionsOnly="['ADMIN', 'CLIENTE']">
            <button [ngClass]="{'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                (click)="showHideCreate()">Crear una nueva calificacion</button>
        </div>
    </div>
    <div class="container">
        <div *ngIf="showView">
            <app-calificaciones-detail [empleadoId]="empleadoId" [calificacion]="selectedCalificacion"></app-calificaciones-detail>
        </div>
        <div *ngIf="showCreate">
            <app-calificaciones-create [empleadoId]="empleadoId" (cancel)="showHideCreate()" (create)="ngOnInit()"></app-calificaciones-create>
        </div>
    </div>
</div>