<div class="container-fluid">
    <div class="col-md-5">
        <table class="table table-striped">
            <thead class="encabezado">
                <tr>
                    <th>ID Calificacion</th>
                    <th>Comentario recibido</th>
                    <th>Calificacion</th>
                    <th>Nombre del cliente calificador</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of calificaciones">
                    <td style="cursor: pointer;" (click)="onSelected(i.id)">{{i.id}}</td>
                    <td>{{i.comentario}}</td>
                    <td>{{i.valorCalificacion}}</td>
                    <td>{{i.nombreCalificador}}</td>
                    <td>
                    <button class="btn btn-danger iconoEliminar" (click)="deleteCalificacion(i.id)"><i
                            class="fas fa-eraser"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN', 'CLIENTE']">
            <button [ngClass]="{'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                (click)="showHideCreate()">Crear una nueva calificacion</button>
        </div>
    </div>
    <div class="col-4">
        <div *ngIf="showView">
            <app-calificaciones-detail [empleadoId]="empleadoId" [calificacion]="selectedCalificacion"></app-calificaciones-detail>
        </div>
  
        <div *ngIf="showCreate">
            <app-calificaciones-create [empleadoId]="empleadoId" (cancel)="showHideCreate()" (create)="ngOnInit()"></app-calificaciones-create>
        </div>        
    </div>
</div>