.encabezado, th {
    background: #01DFA5;
    color: white    
}

.iconoEditar {    
    background-color: #FE9A2E;
    border-color: transparent;
}

.iconoEliminar {    
    background-color: #FE2E2E;
    border-color: transparent;
}