<div id="collapsePagos" [ngbCollapse]="isCollapsed">
<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                      
          <th>idTransaccion</th>
          <th>idPropuesta</th>
          <th>Costo</th>
          <th>Descripcion Propuesta</th>
          <th>Estado Propuesta</th>
                </tr>
            </thead>
            <tbody>                       
                <tr *ngFor = "let pagoAct of pagos">
                      
          <td>{{pagoAct.idTransaccion}}</td>
          <td>{{pagoAct.propuestaDto.id}}</td>
          <td>{{pagoAct.propuestaDto.costo}}</td>
          <td>{{pagoAct.propuestaDto.descripcion}}</td>
          <td>{{pagoAct.propuestaDto.estado}}</td>
    
                </tr>
            </tbody>
        </table>
  </div>
  </div>
</div>
  