<div id="collapseTarjetas" [ngbCollapse]="isCollapsed">
<div class="container-fluid" *ngxPermissionsOnly="['CLIENTE', 'ADMIN']">
  <div class="col-md-2">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                    
        <th>Numero tarjeta</th>
        <th>CCV</th>
        <th>Fecha expiracion</th>
        <th>Red Bancaria</th>
        <th>Nombre Titular</th>
        <th></th>
        <th></th>
              </tr>
          </thead>
          <tbody>                       
              <tr *ngFor = "let tarjetaActual of tarjetasCliente">
                    
        <td>{{tarjetaActual.numeroTarjetaCredito}}</td>
        <td>{{tarjetaActual.ccv}}</td>
        <td>{{tarjetaActual.mesExpiracion}}/{{tarjetaActual.anioExpiracion}}</td>
        <td>{{tarjetaActual.redBancaria}}</td>
        <td>{{tarjetaActual.nombreTitular}}</td>
        <td >
                <button class="btn btn-primario" (click)="guardarTarjeta(tarjetaActual.idTarjeta,tarjetaActual.ccv,tarjetaActual.anioExpiracion,tarjetaActual.mesExpiracion,tarjetaActual.nombreTitular,tarjetaActual.numeroTarjetaCredito,tarjetaActual.redBancaria)"><span class="fas fa-edit" ></span></button>
            </td>
            <td>
            <button class="btn btn-danger text-center" (click)="deleteTarjeta(tarjetaActual.idTarjeta)"><span class="fas fa-trash"></span></button>
            </td>
              </tr>
          </tbody>
      </table>
</div>
<div *ngIf="showEdit">
        <app-cliente-edit-tarjeta-de-credito [idCliente]="idCliente" [tarjeta]="tarjetaSeleccionada" ></app-cliente-edit-tarjeta-de-credito>
    </div>
</div>
</div>